<div class="container">
  <h1><%= @restaurant.name.capitalize %></h1>

  <p><%= @restaurant.category %> restaurant </p>
  <p> <%= @restaurant.address %> </p>
    <ul>
      <% if @restaurant.reviews.count > 0 %>

            <% @restaurant.reviews.each do |review| %>
             <li> <%= review.rating %> ⭐️ --
              <%= review.content %>
             </li>
            <% end %>
          <% end %>
    </ul>

  <hr>
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  <%= link_to 'back to restaurant list', restaurants_path, class: "btn btn-warning" %>
</div>
